<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <h4>BitSwap</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        Register Form
      </div>
      <div class="card-body">
        <form action="/auth/register" method="POST">
          <div class="form-group">
            <label for="fisrtname">First Name</label>
            <input type="text" class="form-control" id="fisrtname" name="firstname">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
          </div>
          <div class="form-group">
            <label for="ssn">SSN</label>
            <input type="number" class="form-control" id="ssn" name="ssn">
          </div>
          <div class="form-group">
            Client  <input type="radio" class="Client" name="radio1" value="Client" onClick="getResults(this)">    
            Trader  <input type="radio" class="Trader" name="radio1" value="Trader" onclick="getResults(this)">    
            <div=class="text adrs">
            <div class="text adrs"><label>Street Address  </label>
            <input type="text"  class="form-control" name="street" id="street" maxlength="30"></div>
            <div class="text adrs"><label>City  </label>
            <input type="text"  class="form-control" name="city" id="city" maxlength="30"></div>
            <div class="text adrs"><label>ZIP   </label>
            <input type="text"  class="form-control" name="zip" id="zip" maxlength="30"></div>
            <div class="text adrs"><label>State  </label>
            <input type="text"  class="form-control" name="state" id="state" maxlength="30"></div>
          </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone">
          </div>

          <div class="form-group">
            <label for="cellphone">Cell phone</label>
            <input type="number" class="form-control" id="cellphone" name="cellphone">
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
          </div>
          
          <button type="submit" class="btn btn-primary">Register User</button>
        </form>
      </div>
    </div>

    {{#if message }}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script>$(document).ready(function() {
    $(".text").hide();

});
function getResults(elem) {
    elem.checked && elem.value == "Client" ? $(".text").show() : $(".text").hide();
};
  </script>
</body>
</html>